<div class="jumbotron">
    <h1>Quraan Memorizer App</h1>
    <p class="lead">Quraan Memorizer is an Android Application to memorize the Quraan quickely and easily.</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>This app is ver interactive and all kind of people can learn this easily. </p>
        
    </div>
</div>
